/* BASE */

html {
    width:100%;
    height:100%;
    min-height:100%;
}
body {
    height:auto;
    min-height:100%;
    font:400 16px/1.5 'Nunito', sans-serif;
    background:#fff;
}



/* MAIN */

main {
    height:100%;
}
main > .container {
    max-width:900px;
    margin:0 auto;
    padding:20px;
}
main > .container > h1 {
    line-height:1;
    margin:0 0 20px 0;
    text-align:center;
}



/* LESSON T74 */

#content-lesson-t74 {
    max-width:280px;
    margin:0 auto;
    text-align:center;
}
#form-lesson-t74 #div_id_image input {
    width:100%;
    height:50px;
    padding:10px;
    position:relative;
    z-index:1;
    cursor:pointer;
    border-radius:0;
    opacity:0;
}
#form-lesson-t74 #div_id_image > .controls {
    position:relative;
}
#form-lesson-t74 #div_id_image > .controls:before {
    display:block;
    width:100%;
    line-height:50px;
    content:'Choise image';
    position:absolute;
    left:0;
    top:0;
    z-index:0;
    background-color:#ccc;
}
#content-lesson-t74 > .history,
#content-lesson-t74 > .digit {
    font-size:.75rem;
    font-family:monospace;
    padding:10px;
    background:#eee;
}
#content-lesson-t74 > .history {
    text-align:left;
    padding:10px 20px;
    white-space:nowrap;
}
#content-lesson-t74 > .digit {
    font-size:2rem;
    font-weight:bold;
}
#content-lesson-t74 > .history,
#content-lesson-t74 > .digit,
#content-lesson-t74 > .image-url {
    margin-top:20px;
}
#content-lesson-t74 > .image-url > img {
    width:50% !important;
    height:auto !important;
}
