{% load static compress %}

<!DOCTYPE html>
<html lang="ru">


<head>

    <meta charset="utf-8" />

    <meta name="theme-color" content="#fff" />
    <meta name="msapplication-navbutton-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <title>{% block title %}NU Lessons{% endblock title %}</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    {% block css %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
            <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
            <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
            <link rel="stylesheet" href="{% static 'css/icons.css' %}" />
        {% endcompress css %}
    {% endblock css %}

</head>


<body>

    <main>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </main>

    {% block js %}
        {% compress js %}
            <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        {% endcompress js %}
    {% endblock js %}

</body>


</html>
